h1 {
  font-style: italic;
  color: white;
  text-align: center;
}

nav {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  font-family: "Avenir Roman", Avenir;
  color: #A6A6A6;
  font-size: 18px;
  letter-spacing: 0.04em;
}

dt, small{
  color: #A6A6A6;
}

body {
  background-color: #444444;
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.3);
  margin: 40px;
  font-size: 17px;
  line-height: 1.5em;
}

.main {
  padding: 35px 50px;
}


.social {
  text-align: center;
}

a {
  color: #30C490;
}
